<!DOCTYPE html>
<html>
<head>
    @*we have to fetch our head section here*@
    @RenderSection("head", required: false)
</head>
<body>
    @*body*@
    @RenderBody()
    @*we have to fetch our Script section here*@
    @RenderSection("scripts", required: false)
</body>
</html>
